<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.concrete.victorolinasc.autoinit">

    <application>
        <provider
            android:name=".AutoInitProvider"
            android:authorities="${applicationId}.autoinitprovider"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
